.aboutContainer {
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;

    @include forPc {
      display: flex;
    flex-direction: row;
    }

    .infoContainer {
        background-color:whitesmoke;
        width: 100%;
        height: 50%;

        @include forPc{
        width: 50%;
        height: 100%;
        }
    }

    .imgContainer {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include forPc{
        width: 50%;
        height: 100%;
        }

        
        .circle{
            width: 270px;
            height: 270px;
            background-image: url('../../images/carrete_m2.jpg');
            background-attachment: fixed;
            background-size: contain;
            background-position-y: bottom;
            border-radius: 63%;

            @include forPc{
                width: 500px;
                height: 500px;
                background-image: url('../../images/carrete3.jpg');
                background-size: contain;
                background-position: 74%;
            }
            
            .titleAbout{
                color: whitesmoke;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 50%;
                font-size: 2rem;

                @include forPc{
                    font-size: 4rem;
                    font-weight: 100;
                    

                }
            }

        }


    }
}