.projectsContainer {
  // background-color: rgb(245, 228, 98);
  background-image: url('../../images/cassete_m2.jpg');
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;

  @include forTablet{
    height: 100vh;
  }

  @include forPc {
    background-image: url('../../images/cassete.jpg');
    height: 100vh;
    background-position: center;
    display: flex;

  }

  
  .titleSectionContainer {
    height: 9vh;
    margin-left: 8%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 22px;

    @include forPc {
      width: 9%;
      height: 55%;
      margin-left: 5%;
      
    }

    .decorationTitle1 {
      border-right: 5px solid whitesmoke;

      height: 100%;
      background-color: whitesmoke;

      @include forPc {
        width: 15px;
      }

    }

    .titleProjects {
      font-size: 1.1rem;
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      font-weight: 300;
      letter-spacing: 12px;

      @include forPc {
        font-size: 2rem;
        flex-direction: column;
        font-weight: 100;
        letter-spacing: 0;
      }

    }

    .decorationTitle2 {
      border-bottom: 5px solid whitesmoke;
      width: 100%;

      @include forPc {
        border-bottom: 0;
      }

    }
  }

  .listProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a{
      color: black;
    }

    @include forTablet{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 90%;
      margin: auto;
    }

    @include forPc {
      height: 100%;
      width: 60%;
    }
  }
}