.projectDetailPage {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    @include forPc{
        justify-content: start;
    }

    .projectDetailContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include forPc{
            flex-direction: row;
            justify-content: space-around;
            height: 90%;
        }


        .mockupProjectP {
            width: 100%;
            height: 50%;
            margin-right: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            @include forPc{
                width: 50%;
                height: 100%;
                margin-right: 0;

            }

            img {
                height: 120%;
            }
        }

        .infoProjectDetailContainer {

            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 12% 0 12%;

            @include forPc{
                width: 50%;
                height: 100%;
                align-items: center;
                padding: 0 6% 0 0;
            }

            .titleProject {
                font-size: 2.2rem;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 15px;
            

                span {
                    margin-right: 7px;
                    margin-bottom: 4%;
                    font-size: 0.7rem;
                    border-radius: 15px;
                    padding: 3px 6px 3px 6px;
                    background-color: #FEC726;
                    color: white;
                }
            }

            
            .descriptionjProject{
                margin-bottom: 2%;
                text-align: center;
                line-height: 20px;

                @include forPc{
                    width: 77%;
                }
            }

            .titleDescription{
                padding-top: 1%;
            }

            .linkContainer {
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                font-size: 0.8rem;

                .buttonShowWeb {
                    color: black;
                    cursor: pointer;
                    padding: 1px 12px 1px 12px;
                    border:none;
                    border-right: 1px solid black;
                    background-color: transparent;
                    margin-right:12px;
                    display: flex;
                    align-items: center;

  
                    .titleVisitWeb{
                        color: white;
                        padding-right: 6px;
                    }

                    &:hover > * {
                        color: black;
                    }
                    
                    
                    .iconWebsite{
                        width: 30px;
                        height: 30px;
                    }
                }
                
                .buttonGithub{
                    display: flex;
                    align-items: center;
                    
                    .iconGithub{
                        width: 25px;
                        height: 25px;
    
                    }
                    .titleVisitGithub{
                        color: white;
                        padding-left: 6px;
                    }
                    &:hover > * {
                        color: black;
                    }
                }



            }
        }
    }

    .panelNavigation{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        a{
            color: black;
        }

        .prev{
            padding-right: 12px;
            border-right: 2px solid #FEC726;
            
            &:hover{
                font-weight: 500;
                border-bottom: 2px solid #FEC726;
                border-right: 0;
            }
        }

        .next{
            padding-left: 12px;
            border-left:  2px solid #FEC726;

            &:hover{
                font-weight: 500;
                border-bottom: 2px solid #FEC726;
                border-left: 0;
            }
        }

        .iconHome{
            padding: 0 10px 0 10px;

            &:hover{
                // border: 2px solid #FEC726;
                color: white;
                background-color: #FEC726;
            }
        }

        i{
            font-size: 13px;
            color: #FEC726;
            padding: 0 12px 0 12px;
        }
    }


}