.projectsContainer {
  background-color: rgb(245, 228, 98);

  @include forPc {
    height: 100vh;
    display: flex;

  }

  
  .titleSectionContainer {
    height: 9vh;
    margin-left: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 22px;

    @include forTablet {
      position: relative;
      width: 15%;
      height: 80%;
      margin-left: 8%;
    }

    .decorationTitle1 {
      border-right: 5px solid whitesmoke;

      height: 100%;
      background-color: whitesmoke;

      @include forTablet {
        width: 15px;
      }

    }

    .titleProjects {
      font-size: 1.1rem;
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      font-weight: 300;
      letter-spacing: 12px;

      @include forTablet {
        font-size: 4.1rem;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        font-weight: 100;
        letter-spacing: 0;
      }

    }

    .decorationTitle2 {
      border-bottom: 5px solid whitesmoke;
      width: 100%;

      @include forTablet {
        border-bottom: 0;
      }

    }
  }

  .listProject {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include forTablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      width: 85%;
      padding-top: 3%;
    }

    .projectLi {
      margin: 20px;

    }

    @include forTablet {}

    @include forPc {}
  }
}