.projectLi {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    width: 180px;
    height: 280px;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);

    &:hover{
    transform: scale(1.10, 1.10);
    }

    .imgContainer{
        width: 100%;
        height: 200px;

        &:hover{
            background-image: none;
            height: 100%;
            opacity: 0.3;
        }
    }

    .infoContainer{
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 15px;

        .projectTitle{text-transform: uppercase;
            font-size: 10px;
            opacity: 0.8;
            padding-bottom: 2px;

        }
    }
}

#card_1 {
    .imgContainer {
        background-position: center;
        background-size: cover;
        background-image: url("../../images/malaga.jpg");
    }
}

#card_2 {
    .imgContainer {
        background-position: center;
        background-size: cover;
        background-image: url("https://pbs.twimg.com/media/DitblibX4AEQams.jpg");
    }
}

#card_3 {
    .imgContainer {
        background-position: center;
        background-size: cover;
        background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/daenerys-trenzas-significado-1558517260.jpg?crop=1.00xw:0.892xh;0,0.108xh&resize=1200:*");

    }
}

#card_4 {
    .imgContainer {
        background-position: center;
        background-size: cover;
        background-image: url("https://images.unsplash.com/photo-1580247817119-c6cb496270a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80");
    }
}

#card_5 {
    .imgContainer {
        background-position: center;
        background-size: cover;
        background-image: url("https://images.unsplash.com/photo-1586527155314-1d25428324ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


.card__img, .card__img--hover {
    background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}


.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}