.projectsContainer {
  background-image: url('../../images/cassete_m2.jpg');
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;

  @include forTablet{
    height: 100%;
  }

  @include forPc {
    background-image: url('../../images/cassete.jpg');
    height: 100vh;
    background-position: center;
    display: flex;
  }

  .titleSectionContainer {
    height: 10vh;
    margin-left: 7%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 22px;

    @include forPc {
      width: 9%;
      height: 60%;
      margin-left: 5%;
    }

    .decorationTitle1 {
      border-right: 5px solid $secondaryColor;
      height: 100%;
      background-color: $secondaryColor;

      @include forPc {
        width: 15px;
      }
    }

    .titleProjects {
      font-size: 1.3rem;
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      color: $secondaryColor;
      font-weight: 500;
      letter-spacing: 13px;

      @include forTablet{
        font-size: 1.6rem;
        font-weight: 600;
        letter-spacing: 16px;
      }

      @include forPc {
        font-size: 2.8rem;
        flex-direction: column;
        font-weight: 100;
        letter-spacing: 0;
        font-weight: 500;
      }
    }

    .decorationTitle2 {
      border-bottom: 5px solid $secondaryColor;
      width: 100%;

      @include forPc {
        border-bottom: 0;
      }
    }
  }

  .listProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a{
      color: black;
    }

    @include forTablet{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 98%;
      margin: auto;
    }

    @include forPc {
      height: 100%;
      width: 75%;
    }

    @include forXLpc{
      width: 66%;
    }
  }
}